<p id="notice"><%= notice %></p>
<div class="form login-form" >
<p id="notice"><%= notice %></p>
  <p>
    <strong>Code:</strong>
    <%= @partida.code %>
  </p>
  <% num = @partida.words_number %>
  <%=form_for (@partida) do |j|%>
    <%if @partida.palabras.exists?(partida_id: @partida.id)%>
      <div class="p">
        <% @palabras.each do |com|%>
          <%= render "palabras/word", palabra: com %>
        <%end%>
      </div>
    <%else%>
      <% while num >= 1 %> 
        <%= j.nested_fields_for :palabras do | f| %>
          <div>
            <%= f.hidden_field  :partida_id %>
            <%= f.text_area :word, placeholder:"Agregar palabra"%>
          </div>
        <% end %>
        <% num = num -1%> 
      <%end%>
      <%= j.submit "Comentar", class: "btn btn-primary botocom"%>
    <%end%>
  <%end%>
  <%= link_to 'Edit', edit_partida_path(@partida) %> |
</div>

